@import "./variables";

.green-button {
  font-size: 15px!important;
  color: $white!important;
  background-color: $green!important;
  padding: 10px 0!important;
  width: 200px!important;
  max-width: 200px!important;
  border-radius: 5px!important;
  cursor: pointer!important;
}

.green-button:disabled {
  background-color: $green!important;
  opacity: 0.4!important;
}
