@import "./variables";

.page-container {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.page-container-no-padding {
  width: 100%;
}

.page-container-fluid {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container-1500 {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.container-1000 {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.container-1200 {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.page-wrapper {
  margin-left: $sideMenuWidth;
  padding-bottom: 20px;
}

.main-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 40px;
  color: $green;
}

.width-100 {
  width: 100%;
}

.flex-main {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row!important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-align-center {
  text-align: center;
}

.margin-0 {
  margin: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-right-25 {
  margin-right: 25px;
}

.height-100 {
  height: 100%;
}

.height-100vh {
  height: 100vh;
}

.white-text {
  color: $white;
}

.z-index {
  z-index: 1;
}

.padding-top-10 {
  padding-top: 10px!important;
}

.padding-bottom-10 {
  padding-bottom: 10px!important;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-bottom-120 {
  padding-bottom: 120px;
}

.padding-bottom-150 {
  padding-bottom: 150px;
}

.background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bold {
  font-weight: 700;
}
