@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900&display=swap');

.montserrat {
  font-family: 'Montserrat', sans-serif;

  &--extra-light {
    font-weight: 200;
  }

  &--regular {
    font-weight: 400;
  }

  &--semi-bold {
    font-weight: 600;
  }

  &--bold {
    font-weight: 700;
  }
}

.sourceSansPro {
  font-family: 'Source Sans Pro', sans-serif;

  &--extra-light {
    font-weight: 200;
  }

  &--regular {
    font-weight: 400;
  }

  &--semi-bold {
    font-weight: 600;
  }

  &--bold {
    font-weight: 700;
  }
}

.big-title-size {
  font-size: 50px;
}

.paragraph-size {
  font-size: 20px;
}
