@import "./variables";
@import "./fonts";
@import "./containers";
@import "./buttons.scss";
@import '../../../node_modules/vuetify/dist/vuetify.min.css';

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;}

#app {
  background-color: $white;
  color: $text;
}


*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  //background-color: rgba(245, 247, 251, 1);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.disable-selection{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.responsive-image {
  width: 100%;

  img {
    width: 100%;
    vertical-align: middle;
  }
}
