// Colors
$white: rgba(255, 255, 255, 1);
$errorMessage: rgba(199, 17, 0, 1);
$orange: rgba(255, 151, 46, 1);
$black: rgba(0, 0, 0, 1);
$activeMenu: rgba(33, 45, 61, 1);
$header: rgba(243, 243, 243, 1);
$text: rgba(86, 86, 86, 1);
$textLight: rgba(176, 176, 176, 1);
$textMedium: rgba(94, 94, 94, 1);
$green: rgba(91, 136, 153, 1);
$red: rgba(255, 42, 71, 1);

//Side menu
$sideMenuWidth: 145px;

//Breakpoints
$breakpoint-tablet: 768px;
