<div :style="{ 'background-image': `url(${imageUrl}/Dashboard/background.jpg)` }"
     class="registerContent page-container-fluid height-100vh background-cover">
    <div class="flex-main direction-column align-center justify-center height-100">
        <div>
            <img :src="`${imageUrl}/Dashboard/avatar.png`" alt="Profile placeholder" class="responsive-image"/>
        </div>
        <form @submit.prevent="submit">
            <div class="margin-bottom-20">
                <v-text-field
                        :error-messages="nameErrors"
                        @blur="$v.userData.name.$touch()"
                        @input="$v.userData.name.$touch()"
                        disabled
                        label="Name"
                        solo
                        v-model="userData.name"
                ></v-text-field>
            </div>
            <div class="margin-bottom-20">
                <v-text-field
                        :error-messages="usernameErrors"
                        @blur="$v.userData.username.$touch()"
                        @input="$v.userData.username.$touch()"
                        disabled
                        label="Email"
                        solo
                        v-model="userData.username"
                ></v-text-field>
            </div>
            <div class="margin-bottom-20">
                <v-text-field
                        :error-messages="passwordErrors"
                        @blur="$v.userData.password.$touch()"
                        @input="$v.userData.password.$touch()"
                        label="Password"
                        solo
                        type="password"
                        v-model="userData.password"
                ></v-text-field>
            </div>
            <div class="flex-main justify-center margin-bottom-40">
                <v-btn :disabled="$v.$invalid" class="green-button flex-main align-center justify-center" type="submit">
                    CHANGE PASSWORD
                </v-btn>
            </div>
        </form>
        <div class="flex-main justify-center" v-if="error">{{error}}</div>
    </div>
</div>
