<div class="width-100 header">
    <div class="page-container flex-main justify-space-between width-100 align-center headerContent">
        <div class="headerContent__left flex-main">
        </div>
        <div class="headerContent__right flex-main justify-end">
            <div class="profile flex-main align-center">
                <div class="flex-main justify-center align-center logout" @click="logout">
                    LOGOUT
                </div>
            </div>
        </div>
    </div>
</div>
