@import "../../assets/style/variables";

.header {
  background-color: $green;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.headerContent {
  padding-top: 10px;
  padding-bottom: 10px;

  &__left {
    width: 70%;

    .search {
      width: 70%;
    }

    .sort {
      width: 30%;
    }
  }

  &__right {
    width: 30%;

    .profile {
      img {
        width: 30px;
      }
    }
  }
}

.textLight {
  color: $textLight;
  font-size: 14px;
}

.logout {
  font-size: 14px;
  color: $green;
  background-color: $white;
  font-weight: 700;
  padding: 8px 0;
  width: 70px;
  max-width: 70px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

/deep/ .theme--light.v-icon {
  color: $orange !important;
}

/deep/ .v-input__slot {
  margin-bottom: 0;
}

/deep/ .v-text-field__details {
  display: none;
}

