<div :style="{ 'background-image': `url(${imageUrl}/Dashboard/background.jpg)` }"
     class="registerContent page-container-fluid height-100vh background-cover">
    <div class="flex-main direction-column align-center justify-center height-100">
        <form @submit.prevent="submit">
            <div class="margin-bottom-20">
                <v-text-field
                        :error-messages="passwordErrors"
                        @blur="$v.userData.password.$touch()"
                        @input="$v.userData.password.$touch()"
                        label="Password"
                        solo
                        type="password"
                        v-model="userData.password"
                ></v-text-field>
            </div>
            <div class="flex-main justify-center margin-bottom-40">
                <v-btn type="submit" class="green-button flex-main align-center justify-center">
                    CHANGE PASSWORD
                </v-btn>
            </div>
        </form>
    </div>
</div>
