<div :style="{ 'background-image': `url(${imageUrl}/Login/background.jpg)` }"
     class="registerContent page-container-fluid height-100vh background-cover">
    <div class="container-1500 height-100 flex-main direction-column justify-center align-center">
        <div class="main-title">Login</div>
        <div>
            <form @submit.prevent="submit">
                <div class="margin-bottom-20">
                    <v-text-field
                            :error-messages="usernameErrors"
                            @blur="$v.userData.username.$touch()"
                            @input="$v.userData.username.$touch()"
                            label="Email"
                            solo
                            v-model="userData.username"
                    ></v-text-field>
                </div>
                <div class="margin-bottom-20">
                    <v-text-field
                            :error-messages="passwordErrors"
                            @blur="$v.userData.password.$touch()"
                            @input="$v.userData.password.$touch()"
                            label="Password"
                            solo
                            type="password"
                            v-model="userData.password"
                    ></v-text-field>
                </div>
                <div class="flex-main justify-center margin-bottom-40">
                    <v-btn :disabled="$v.$invalid" class="green-button flex-main align-center justify-center"
                           type="submit">
                        LOGIN
                    </v-btn>
                </div>
<!--                <div class="flex-main justify-center login margin-bottom-20 greenText" @click="toForgotPassword">-->
<!--                    Forgot password?-->
<!--                </div>-->
                <div class="flex-main justify-center login">
                    Don't have an account? &nbsp;<span @click="toRegister" class="greenText">Register</span>
                </div>
            </form>
            <div class="flex-main justify-center" v-if="error">{{error}}</div>
        </div>
    </div>
</div>
