<div>
    Single Project: <strong>{{ $route.params.projectSlug }} in {{ $route.params.lang }}</strong>
    <br>
    
    <projects-carousel v-bind:projects="{'projects': [{'id': 1, 'title': 'Remoney'}, {'id': 2, 'title': 'Hive'}]}"></projects-carousel>

    <div v-if="loading" style="text-align: center;">
        Loading...
    </div>
    <div v-if="!loading">
        Content: {{items}}
    </div>
</div>