<div :style="{ 'background-image': `url(${imageUrl}/ForgotPassword/background.jpg)` }"
     class="registerContent page-container-fluid height-100vh background-cover">
    <div class="flex-main direction-column align-center justify-center height-100">
        <form @submit.prevent="submit">
            <div class="main-title">Forgot Password</div>
            <div class="margin-top-10 margin-bottom-20">
                <v-text-field
                        :error-messages="usernameErrors"
                        @blur="$v.userData.username.$touch()"
                        @input="$v.userData.username.$touch()"
                        label="Enter your email"
                        solo
                        type="email"
                        v-model="userData.username"
                ></v-text-field>
            </div>
            <div class="flex-main justify-center margin-bottom-40">
                <v-btn :disabled="$v.$invalid" class="green-button flex-main align-center justify-center"
                       type="submit">
                    SEND
                </v-btn>
            </div>
        </form>
    </div>
</div>
