<div class="registerContent page-container-fluid height-100vh background-cover" :style="{ 'background-image': `url(${imageUrl}/Register/background.jpg)` }">
    <div class="container-1500 height-100 flex-main direction-column justify-center align-center">
        <div class="main-title">Register</div>
        <div>
            <form @submit.prevent="submit">
<!--                <div class="margin-bottom-20">-->
<!--                    <v-text-field-->
<!--                            :error-messages="nameErrors"-->
<!--                            @blur="$v.userData.name.$touch()"-->
<!--                            @input="$v.userData.name.$touch()"-->
<!--                            v-model="userData.name"-->
<!--                            label="Name"-->
<!--                            solo-->
<!--                    ></v-text-field>-->
<!--                </div>-->
                <div class="margin-bottom-20">
                    <v-text-field
                            :error-messages="usernameErrors"
                            @blur="$v.userData.username.$touch()"
                            @input="$v.userData.username.$touch()"
                            v-model="userData.username"
                            label="Email"
                            solo
                    ></v-text-field>
                </div>
<!--                <div class="margin-bottom-20">-->
<!--                    <v-text-field-->
<!--                            type="password"-->
<!--                            :error-messages="passwordErrors"-->
<!--                            @blur="$v.userData.password.$touch()"-->
<!--                            @input="$v.userData.password.$touch()"-->
<!--                            v-model="userData.password"-->
<!--                            label="Password"-->
<!--                            solo-->
<!--                    ></v-text-field>-->
<!--                </div>-->
                <div class="flex-main justify-center margin-bottom-40">
                    <v-btn type="submit" :disabled="$v.$invalid" class="green-button flex-main align-center justify-center">
                        REGISTER
                    </v-btn>
                </div>
                <div class="flex-main justify-center login">
                    Already have an account? &nbsp;<span @click="toLogin" class="greenText">Login</span>
                </div>
            </form>
            <div class="flex-main justify-center" v-if="error">{{error}}</div>
        </div>
    </div>
</div>
