@import '../../../assets/style/variables';

/deep/ .theme--light.v-messages {
  color: $green!important;
  font-size: 16px!important;
  font-weight: 700;
}

form {
  min-width: 400px;
}

/deep/ .theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: $white!important;
  opacity: 0.7!important;
}

.login {
  color: $textMedium;
  font-weight: 700;
}

.greenText {
  color: $green!important;
  font-weight: 700;
}
