<template>
  <div>
    <router-view></router-view>
  </div>
</template>
<script>
import SEOResource from './app-seo.js'

export default {
    data () {
        return {
            title: 'Default - Base App',
            description: 'Default description content'
        }
    },
    
    beforeCreate() {
      // if (!process.env.AVAILABLE_LANGUAGES.includes(this.$route.params.lang))
      //   this.$router.replace({ path: '/' + process.env.DEFAULT_LANGUAGE + '/404' })
    }
    // metaInfo () {
    //   return new SEOResource().SEOData(this);
    // }
};
</script>
