<!--<div>-->
<!--    <p>{{menu.offices}}</p>-->
<!--    <ul>-->
<!--        <li v-for="item in menu.offices">{{item.city}}</li>-->
<!--    </ul>-->
<!--    <ul>-->
<!--        <li v-for="item in menu.socialNetworks">{{item.name}}</li>-->
<!--    </ul>-->
<!--</div>-->
