<div>
    <h1>Projects</h1>
    <router-link :to="{ path: 'projects/single-project' }">Go to Single Project page.</router-link>
    <br>
    <ul>
        <li v-for="project in items">
            <router-link :to="{ path: 'projects/' + project.id }">
                {{project.title}}
            </router-link>
        </li>
    </ul>
</div>